{# {% extends 'base.html.twig' %} #}
{% block body %}
    {# {{ dump("SELECTED COMMENTS") }}
    {{ dump(selected_comments) }} #}
{% if selected_comments %}
        <h5>Comments on this article:</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Author</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
    {% for comment in selected_comments %} 
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.user }}</td>
                <td class="comment_description">{{ comment.description }}</td>
                {# check if logged user, his email and if is an author edit/delete buttons
                 to his coments  #}
                 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <td>
                    {# {{dump(user_email)}} #}
                    {# check if logged user is comment author,if he is then allow to edit/delete #}
                    {% if comment.user == user_email %}
                        <a href="{{ path('comment_edit', {'id': comment.id}) }}">
                            <button type="button" class="btn btn-primary edit_comment_btn">Edit</button>
                        </a>
                        <a href="{{ path('comment_delete', {'id': comment.id}) }}">
                            <button type="button" class="btn btn-danger delete_comment_btn">Delete</button>
                        </a>
                        {# {{ dump(comment) }}
                        {{ dump(prod_id) }} #}
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no record found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h5>no comments yet, be first to add one</h5>
    {% endif %}

    {# <a href="{{ path('comment_new') }}">Create new</a> #}
{% endblock %}
