{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Comment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.user }}</td>
                <td>{{ comment.description }}</td>
                {# check if logged user, his email and if is an author edit/delete buttons
                 to his coments  #}
                 {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <td>
                    {# {{dump(user_email)}} #}
                    {# check if logged user is comment author,if he is then allow to edit/delete #}
                    {% if comment.user == user_email %}
                        <a href="{{ path('comment_edit', {'id': comment.id}) }}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                        <a href="{{ path('comment_delete', {'id': comment.id}) }}">
                            <button type="button" class="btn btn-danger">Danger</button>
                        </a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('comment_new') }}">Create new</a> #}
{% endblock %}
