{% extends 'base.html.twig' %}

{% block title %}Products List{% endblock %}

{% block body %}
    <h1>List of Products</h1>

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    {# <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a> #}
                {# </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>  #}

    {# <a href="{{ path('product_new') }}">Create new</a> #}

    <div class="container">
        <div class="row">
            {% for product in products %}
            {# {{dump(product)}} #}
            <div class="col-sm-12 col-lg-6" style="padding-bottom:25px;">
                <div class="card" style="width: 100%;">
                    {% if product.image %}
                        <img src="{{ asset('images/products/' ~ product.getImage())}}" class="card-img-top img-fluid" alt="{{product.name}}" style="height:400px;">
                    {% else %}
                        <img src="{{ asset('images/products/testImage.jpg' )}}" class="card-img-top img-fluid" alt="{{product.name}}" style="height:400px;">
                    {% endif %}
                    {# <img src="{{ asset('images/products/132201016198379780.jpg')}}" class="card-img-top" alt="..."> #}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name}}</h5>
                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-success">
                            Show more..
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
