{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h2>{{ product.name }}</h2>

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table> #}

    <div class="container" style="border:1px solid grey;padding:5%;border-radius:5px">
        <div class="row align-item-start" style="padding-bottom:10px;">
            <div class="col-sm-10"><b>{{product.name}}</b></div>
            <div class="col-sm-2">Product Id: {{product.id}}</div>
        </div>
        <div><b>Product description:</b><br><br> {{product.description}}</div>
    </div>
    <div class="container">
        <div class="row align-item-end">
            <a href="{{ path('product_index') }}" class="btn btn-warning">back to list</a>
        </div>
    </div>


    

    {# <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a> #}

    {# {{ include('product/_delete_form.html.twig') }} #}
{% endblock %}
